body {
  background: #252B42;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: #ffffff;
}
.shape_hero {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
}
p.course_text {
  height: 180px;
}
.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
}
.ag-courses-item_link:hover, .ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease 
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}
@media only screen and (max-width: 979px) {
  .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
 }
  .ag-courses-item_title {
      font-size: 24px;
 }
}
@media only screen and (max-width: 767px) {
  .ag-format-container {
      width: 96%;
 }
}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
 }
  .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
      font-size: 24px;
 }
  .ag-courses-item_link {
      padding: 22px 40px;
 }
  .ag-courses-item_date-box {
      font-size: 16px;
 }
}
.block {
  padding: 16px 20px;
}
.blocks {
  display: flex;
  flex-direction: column;
}
.lecture {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.course_card {
  width: 500px;
  margin: 0;
  color: #fff;
  background: rgba(24, 76, 153, 0.32);
  box-shadow: 0px 0px 5px 2px #ffffff;
  background-image: url(img/bg.svg);
  background-repeat: no-repeat;
  margin-bottom: 20px;
  transition: transform 0.4s;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(50% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
}
.course_card:hover {
  transform: scale(102%);
  transition: transform 0.2s;
}
.course_card h2 {
  margin-bottom: 35px;
}
.course_users {
  display: flex;
  margin: 20px 0;
}
.course_users p:first-child {
  margin-right: 10px;
}
.course_users p:last-child {
  text-decoration: underline;
}
.course_info {
  display: flex;
  align-items: center;
}
.course_time {
  display: flex;
  margin-right: 10px;
}
.course_lesson {
  display: flex;
  margin-right: 10px;
}
.course_test {
  display: flex;
  margin-right: 20px;
  line-height: 16px;
}
.img_block {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.course_btn {
  background: #23a6f0;
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.course_btn:hover {
  background: #087cbe;
}
.modal {
  display: none;
 /* Hidden by default */
  position: fixed;
 /* Stay in place */
  z-index: 1;
 /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
 /* Full width */
  height: 100%;
 /* Full height */
  overflow: auto;
 /* Enable scroll if needed */
  background-color: rgb(0,0,0);
 /* Fallback color */
  background-color: rgba(0,0,0,0.4);
 /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
 /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
 /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
img.profile_image {
  border-radius: 12px;
  width: -webkit-fill-available;
}
.form-control {
  background: transparent;
  color: #ffffff;
  box-shadow: 0px 0px 5px 2px #ffffff;
  height: 50px;
}
.form-control:focus {
  color: #ffffff;
  background: transparent;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
option {
  background: #252B42;
}
textarea {
  resize: vertical;
  background: transparent;
  color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn.main {
    background-color: #184C99;
    color: #fff;
      --bs-btn-color: #fff;
    --bs-btn-bg: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

input#file_document {
  color: #fff;
}
textarea#description {
  height: 170px;
}
.block-test {
  padding: 0px 50px;
  display: flex;
}


.checkbox {
  width: 5%;
  margin: 10px;
}

.large-button{
  margin: 10px;
  width: 450px;
  height: 50px;
  font-size: 20px;
}
.middle-button{
  margin: 10px;
  height: 50px;
  font-size: 20px;
}

.read-more-target,
.read-more-trigger_opened {
  display: none;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target,
.read-more-state:checked ~ .read-more-trigger_opened {
  display: block;
}
.read-more-state:checked ~ .read-more-trigger_closed {
  display: none;
}

@media only screen and (max-width: 480px) {
  .shape_hero {
    display: none;
}

 
}

